<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regles de jeu</title>
    <link rel="stylesheet" href="rules.component.css">
</head>
<body>
    <div id="background">
    <div id="container">
        <br />
        <h1> Voici les regles du jeu</h1>
        <br />
        <p>Quizzable peut être joué par 2 utilisateurs sur un même ordinateur.</p>
        <p>Chaque joueur introduit son nom avant de demarrer la partie.</p>
        <br />
        <p>Une fois la partie démarrée, vous allez voir plusieurs éléments apparaître:</p>
        <br />

        <div class="row">
            <div class="col">
                <div class="row"> 
                    <div>
                        <p>Avatar Joueur1 : </p>
                        <img src="assets/player1.PNG" height="170" width="100" title="j1">
                        <br />
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <br />
            </div>
            <div class="col" >
                <div class="row" >
                    <div>
                        <p>Avatar Joueur2 : </p>
                        <img src="assets/player2.PNG" height="170" width="100" title="j2">
                        <br />
                    </div>
                </div>
            </div>
            <div class="col">
                <br />
            </div>
            <div class="col" >
                <div class="row" >
                    <div>
                        <p>5 Niveaux du jeu: </p>
                        <br/>
                    <img src="assets/niveau.PNG" height="170" width="170" title="niveau">
                    <br />
                    </div>
                    
                </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col">
                <div class="row">
                    <p>Pour bouger le joueur 1 utilisez les touches:</p>
                    <p>Avancer: <kbd>S</kbd> <br /> Reculer: <kbd>X</kbd> <br /> Tourner à gauche: <kbd>W</kbd> <br /> Tourner à droite: <kbd>C</kbd> <br /> Attaquer: <kbd>D</kbd> </p>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <p>Pour bouger le joueur 2 utilisez les touches:</p>
                    <p>Avancer: <kbd>G</kbd> <br /> Reculer: <kbd>B</kbd> <br /> Tourner à gauche: <kbd>V</kbd> <br /> Tourner à droite: <kbd>N</kbd> <br /> Attaquer: <kbd>H</kbd> </p>
                </div>
            </div>
        </div>

          <br />

          <p>Lors du début d'un niveau, il faut tourner la roulette qui choisit une catégorie et une question au hazard.</p>
          <img src="assets/roue.PNG" height="200" width="200" title="roue">
          <br />
        <p>
            Touches pour répondre aux questions (en ordre: Réponse1 Réponse2 Réponse3)
        </p>
        <br />
        <div class="row">
            <div class="col">
                <div class="row">
                    <p>Joueur 1 : </p>
                    <p>Pour la réponse 1: <kbd>A</kbd> <br /> Pour la réponse 2: <kbd>Z</kbd> <br /> Pour la réponse 3: <kbd>E</kbd> </p>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <p>Joueur 2 : </p>
                    <p>Pour la réponse 1: <kbd>I</kbd> <br /> Pour la réponse 2: <kbd>O</kbd> <br /> Pour la réponse 3: <kbd>P</kbd> </p>
                </div>
            </div>
        </div>
        <br />
        <p>
            A la fin de chaque niveau il y aura un gagnant.<br /> Après les 5 niveaux, celui avec le plus des niveaux gagnés est nomé le gagnant de la partie.
        </p>
        <br />
        <h2>Bonne chance!</h2>
        <br />
    </div>
    </div>
 </body>